body{
    background-image: url("../img/fond.jpg");
    background-attachment: fixed;
    background-size: cover; 
}

section{
    height: 40em;
    margin-top: 139px;
}

.tableau{
    display: flex;
    flex-direction: column;     
    color: white;
    margin-left: 4%;    
    border-radius: 5px; 
    width: 92%; 
    height: 40em;       
    margin-top: 39px;   
    background-color: rgba(0, 0, 0, 0.726);
    
}

.scroller {
    width: 92%;
    height: 40em;
    overflow-y: scroll;
    scrollbar-color: black grey;
    scrollbar-width: thin;
  }
  

tr{
    height: 45px;    
    display: flex;
    justify-content: space-between;
    
   
}

.tr-legend{
    border-bottom: solid white 1px;
    margin-bottom: 1em;

}

.th{
    text-align: center;       
    width: 25%;
    padding-top: 9px;
    
}

.th-id{
    padding-right: 6%;
}

.th-nom{
    padding-right: 2%;
}

.th-balance{
    padding-left: 2%;
}

.th-date{
    padding-left: 6%;
}

.deroulant{    
    color: white;
}