
/**** Placement dans la page ****/

.radioGaga {
    margin-left: 5%;
    margin-right: 25%;
    margin-top: 0.5%;
}

.titreTab,.infraUser {
  margin-left: 5%;
  margin-right: 10%;

height: 40em;

            color: white;
            text-align: center;
  
}



section {
  height:40em;
  width: 950px;
  margin-top: 100px;
margin-left: 2.35%;
padding-right: 2.5%;

      overflow-y:auto;
      overflow-x: hidden;
      border-radius: 5px;
 
}



 /* Designing for scroll-bar */
 ::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: gainsboro;
  border-radius: 5px;margin-top: 15px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/**** Coin arrondi ****/
#infr {margin-left: 5px;}

#tlCorner{border-radius: 15px 0px 0px 0px;}

#bottomCorner {border-radius: 0px 0px 15px 15px;}

#blCorner {border-radius: 0px 0px 0px 15px;}
#brCorner {border-radius: 0px 0px 15px 0px;}
#trCorner {border-radius: 0px 15px 0px 0px;}

/**** Tableaux ****/


/***** Legende du tableau *****/

#trTab2 { 
  background-color: black;
  position:fixed;
  width: 890px;
  height: 50px;
  padding-top: 10px;
}



#trTab2 th {
  padding-right: 15px;
  height: 50px;

}

 .radioGaga th{

    border-bottom: 1px solid white;
    border-collapse: collapse;
    text-align: center;
    padding-top: 6px;
   
    width: 226px;
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
}

.ligne1 {height: 50px;}

.ligne2 {opacity: 0; height: 15px;}


tr:nth-child(even) {
  background-color:rgba(0, 0, 0, 0.555);
}

input {
  width: 20px;
  height: 20px;
  margin-top: 3px;
}

.infraUser th{
  border-collapse: collapse;
  height: 41px;
  width: 227.5px;
  background-color: rgba(0, 0, 0, 0.726);
  color: white;
  text-align: center;
  border-left: 1px solid white;
  border-top: 1px solid white;
  
  
}

.titreTab,.infraUser td{
  border-collapse: collapse;
  height: 41px;
  width: 227.5px;
  background-color: rgba(0, 0, 0, 0.726);
  padding-top: 12px;
  color: white;
  text-align: center;
  
}


/**** Fond d'écran ****/

body{
    background-image: url(../img/fond.jpg);
    background-attachment: fixed;
    background-size: cover;
}

tr {
    display: flex;
    justify-content: space-around;

}

/**** Bouton validation ****/
#holder {margin-top: -6px;}

      .button {
        background: #3D4C53;
        width : 225.5px;
        height : 50px;
        overflow: hidden;
        padding-top: 7%;
        text-align : center;
        transition : .2s;
        cursor : pointer;
        border-radius: 0px 15px 0px 0px;
        box-shadow: 0px 1px 2px rgba(0,0,0,.2);
        border-bottom: 1px solid white;
       
      }
      .btnTwo {
        position : relative;
        width : 200px;
        height : 150px;
        margin-top: -100px;
        padding-top: 1px;
        background : #25bd7e;
        left : -200px;
        transition : .3s;
        border-bottom: 1px solid white;
      }
      .btnText {
        color : white;
        transition : .3s;
      }
      .btnText2 {
        margin-top : 58px;
        margin-right : -130px;
        color : #FFF;
      }
      .button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
        left: -130px;
      }
      .button:hover .btnText{ /*When hovering over .button change .btnText*/
        margin-left : 65px;
      }
      .button:active { /*Clicked and held*/
        box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
      }


.Infraction{
  width: 110px;

  margin-left: 15px;


}

.retard{
  width: 90px;
 
  margin-left: 15px;

}

