.mur {
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.murReine {
    background-image: url("../img/fond.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}



.login-box {
    padding: 40px;
    margin-top: 15%;
    transform: translate(-50%, -55%);
    background: rgba(0, 0, 0, .9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
    border-radius: 10px;
}

.login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
}

.login-box .user-box {
    position: relative;
}

.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}

.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
}

.login-box {
    margin-top: 25%;
}

.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 3px
}

.login-box a:hover {
    background: #fff;
    color: #272727;
    border-radius: 5px;
}

.login-box a span {
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,
    100% {
        left: 100%;
    }
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,
    100% {
        top: 100%;
    }
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,
    100% {
        right: 100%;
    }
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,
    100% {
        bottom: 100%;
    }
}

.login-box p:last-child {
    color: #aaa;
    font-size: 14px;
}

.login-box a.a2 {
    color: #fff;
    text-decoration: none;
}

.login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
}






.MEP {
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}

.portraitAlice {

    border-radius: 1000px;
    margin-right: 15%;
    margin-top: 3%;

}

.portraitReine {

    border-radius: 1200px;
    margin-right: 15%;
    margin-top: 5%;

}

.portraitReine {
    padding: 5%;
}


.portraitFou {

    border-radius: 1200px;
    margin-right: 15%;
    margin-top: -20%;
    margin-bottom: -10%;
    width: 25%;
    height: 25%;
}


.MEPFou {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 3%;
    margin-left: 7%;
}













/*----Menu Navbar----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: black;
    background: -webkit-linear-gradient(to right, black, black);
    background: linear-gradient(to right, black, black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.navbar,
.navbar1,
.navbar2,
.navbar3,
.navbar4 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
}

.header,
.header2,
.header3,
.header4,
.header1 {
    width: 100%;
    height: 60px;
}

.menu,
.menu2,
.menu3,
.menu4,
.menu1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
}

.menu a,
.menu2 a,
.menu3 a,
.menu4 a,
.menu1 a {
    display: block;
    height: 100%;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 15px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    padding: 0 10px;
    margin-right: 30px;
}

.menu a:after,
.menu a:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
}

.menu a:after {
    width: 0%;
    height: 110%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
}

.menu a:before {
    width: 120%;
    height: 0%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: all 0.5s ease;
}

.menu a:hover::before {
    height: 110%;
}

.menu a:hover::after {
    width: 120%;
}


/*----Animated Button----*/
.btnnav {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

button:hover {
    color: black;
}

button:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
}

button:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
}

/*----Police Type----*/

.playfaire {
    font-family: 'Playfair Display', serif;
}