
body{
  background-image: url("../img/fond.jpg");
  background-repeat: no-repeat;
  background-size:100% ;
  
}
/*----Menu Navbar----*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  
  .container {
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: black;
    background: -webkit-linear-gradient(to right, black, black);
    background: linear-gradient(to right, black, black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  
  .navbar,
  .navbar1,
  .navbar2,
  .navbar3,
  .navbar4 {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: white;
  }
  
  .header,
  .header2,
  .header3,
  .header4,
  .header1 {
    width: 100%;
    height: 60px;
  }
  
  .menu,
  .menu2,
  .menu3,
  .menu4,
  .menu1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 100px;
  }
  
  .menu a,
  .menu2 a,
  .menu3 a,
  .menu4 a,
  .menu1 a {
    display: block;
    height: 100%;
    font-size: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 0 0 15px;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
    text-align: center;
    padding: 0 10px;
    margin-right: 30px;
  }
  
  .menu a:after,
  .menu a:before {
    content: "";
    position: absolute;
    display: block;
    border: 0px solid transparent;
  }
  
  .menu a:after {
    width: 0%;
    height: 110%;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    transition: all 0.3s ease;
  }
  
  .menu a:before {
    width: 120%;
    height: 0%;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: all 0.5s ease;
  }
  
  .menu a:hover::before {
    height: 110%;
  }
  
  .menu a:hover::after {
    width: 120%;
  }


/*----Animated Button----*/
  .btnav {
    width: 6.5em;
    height: 2.3em;
    margin: 0.5em;
    background: black;
    color: white;
    border: none;
    border-radius: 0.625em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    position: relative;
    z-index: 1;
    overflow: hidden;
   }
   
   .btnav:hover {
    color: black;
   }
   
   .btnav:after {
    content: "";
    background: white;
    position: absolute;
    z-index: -1;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(-45deg) scale(0, 1);
    transition: all 0.5s;
   }
   
   .btnav:hover:after {
    transform: skewX(-45deg) scale(1, 1);
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
   }

/*----Police Type----*/

.playfaire{
    font-family: 'Playfair Display', serif;
}
  