<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            font-family: sans-serif;

        }
        pie-chart {
            width: 500px;
            height: 500px;
            --tooltip-bg: rgb(255, 255, 255);
        }
    </style>
    <script src="app.js" defer></script>

</head>

<body>

    <!-- BASE pour faire un arc de cercle -->
    <!-- <svg viewBox="-1 -1 2 2">
<path stroke="#000" stroke-width="0.1" d="M 0 0 L 1 0 A 1 1 0 0 1 0 1 L 0 0"></path>
    </svg> -->

    <!-- Les ";" ne sont pas obligatoire, choix de Grafikart -->
<pie-chart data="40;30;30;20;10;10" gap="0.01" labels="Jaune;Vert;Orange;Bleu;Rouge;Bleu clair"></pie-chart>
<pie-chart data="10;90"></pie-chart>
</body>

</html>